body{
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 10vh;
  background-color: #112355;
}

.main {
  height: 80vh;
  width: 100vw;
}